header {
    margin: 20px 120px;
}

main {
    margin: 20px 120px;

}

h2 {
    font-size: 40px;
}

.banner {
    text-align: center;
    justify-content: center;
    border-radius: 20px;
    padding: 10px;
    width: 100%;
    height: 400px;
    background-image: url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    filter: brightness(0.8);
    background-repeat: no-repeat;


}

.banner h1 {
    font-size: 60px;
    color: rgb(81, 77, 77);
    margin-top: 10px;
}


.banner p {
    color: rgb(48, 39, 39);
    margin-right: 150px;
    margin-left: 150px;
    margin-bottom: 50px;

}

.banner input {
    width: 200px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    border: none;
    margin-left: 10px;
    border-radius: 5px;
}

.primary-btn {
    font-size: 20px;
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 5px;
    color: rgb(41, 40, 40);
    background-color: rgb(234, 92, 92);
}



.our-popular-tours {
    display: flex;
    margin-top: 100px;
    width: 100%;


}

.our-popular-tours-description {
    width: 50%;
}

.our-popular-tours img {
    margin-left: 35px;
    width: 100%;
}

.our-popular-tours p {
    padding-right: 10px;
}

.choose-your-destination h3 {
    color: white;
    text-align: center;
    margin-top: 150px;
}

.section-title {
    text-align: center;
    margin: 40px 250px;
    padding: 20px;

}

.m-i {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 50% 50%);
    margin-top: 10px;
    margin-bottom: 20px;

}

.s-n-k {

    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 30% 48% 20%);
    margin-bottom: 20px;


}

.b-b {

    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 40% 60%);
    margin-bottom: 20px;


}

.maldives {
    background-image: url('/Images/Rectangle\ 5.png');

}

.indonesia {
    background-image: url('/Images/Rectangle\ 8.png');

}


.srilanka {
    background-image: url('/Images/Rectangle\ 6.png');

}


.north-america {
    background-image: url('/Images/Rectangle\ 7.png');


}

.kashmir {
    background-image: url('/Images/Rectangle\ 9.png');

}

.bangladesh {
    background-image: url('/Images/Rectangle\ 11.png');

}

.bandarban {
    background-image: url('/Images/Rectangle\ 10.png');

}

.maldives,
.indonesia,
.srilanka,
.north-america,
.kashmir,
.bangladesh,
.bandarban {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    border: 1px solid white;
    border-radius: 20px;
}

@media screen and (max-width:600px) {
    header {
        margin: auto;
        padding: auto;
    }

    main {
        margin: auto;
        padding: auto;
    }

    .banner {
        width: 90%;
        height: 400px;
        margin: auto;
        padding: auto;
        border-radius: 30px;


    }

    .banner h1 {
        color: rgb(81, 80, 80);
        font-size: 30px;
        margin: auto;
        padding: auto;

    }

    h2 {
        font-size: 25px;
    }

    .banner p {
        color: rgb(133, 132, 132);
        margin: auto;
        padding: auto;
    }

    .banner input {
        display: block;
        width: 70%;
        height: auto;
        margin: auto;
        padding: auto;
        margin-top: 10px;


    }

    .our-popular-tours {
        display: block;
    }

    .our-popular-tours-description {
        width: 90%;
        height: auto;
        margin-bottom: 20px;
        margin-left: 20px;
        padding: 10px;


    }

    .our-popular-tours img {
        width: 90%;
        height: auto;
        margin-left: 20px;
        padding: auto;
        border-radius: 30px;

    }

    .our-popular-tours h2 {
        margin-bottom: 0;
    }

    .our-popular-tours p {
        margin-top: 0;
    }

    .our-popular-tours button {
        padding: 2%;
        width: 30%;
        height: auto;
    }

    .primary-btn {
        font-size: 10px;
    }

    .section-title {
        margin: auto;
    }

    .m-i,
    .s-n-k,
    .b-b {
        display: block;
    }

    .maldives,
    .indonesia,
    .srilanka,
    .north-america,
    .kashmir,
    .bangladesh,
    .bandarban {
        background-size: cover;
        width: 90%;
        height: 400px;
        margin: auto;
        margin-bottom: 20px;
        padding: auto;
        border-radius: 30px;

    }

    .choose-your-destination {
        text-align: center;
        margin-top: 100px;
    }


}